{% extends "base/_layout.twig" %}
{% block content %}

    {% set contactPageEntry = craft.entries.section('contactpage').one() %}


<section>

<div class="contact-header">
<h1>{{entry.headerTitel}}</h1>
</div>

{{ craft.formie.renderForm("contact") }}



<div class="contact-header">
<h1>{{contactPageEntry.headerTitel3}}</h1>
<p>{{contactPageEntry.mail}}</p>
<p>{{contactPageEntry.gsmNummer}}</p>
<p>{{contactPageEntry.straat}}</p>
</div>



</section>

  
   


{% endblock %}