{% extends "base/_layout.twig" %}
{% hook 'after-body-start' %}

{% block content %}

    {% set contactPageEntry = craft.entries.section('contactpage').one() %}


<section class="contactTotaal">

<div class="contactTitel">
<h1>{{entry.headerTitel}}</h1>
</div>


<div class="formulier">
{{ craft.formie.renderForm("contact") }}
    </div>


<div class="contact-header">
<h1 class="informatieTitel">{{contactPageEntry.headerTitel3}}</h1>

<p class="informatie">{{contactPageEntry.mail}}</p>
<p class="informatie">{{contactPageEntry.gsmNummer}}</p>
<p class="informatie">{{contactPageEntry.straat}}</p>
</div>



</section>





{% endblock %}