{% extends "base/_layout.twig" %}

{% block content %}
    {% set product = craft.entries.slug(craft.app.request.getSegment(2)).section('product').one() %}

    {% if product %}
        <div class="detail-container">
            <div class="links">
                {% set image = product.productImage.one() %}
                {% set specificYear = product.specificYear.one() %}
                {% set productionCompany = product.productionCompany.one() %}
                {% if image %}
                    <img src="{{ image.url }}" alt="Product Image" class="product-image">
                {% endif %}
            </div>
            <div class="rechts">
                <h2>{{ product.title }}</h2>
                <p class="description">{{ product.productDescription }}</p><br>
                <p class="price">€{{product.productPrice}}</p>
                
                <p class="stock">{{ product.productStock }}</p><br>
                <p class="creator">Production Company: {{productionCompany.title}}</p>
                <p class="release-year">Production Year: {{specificYear.title}}</p><br>
                <button class="add-to-cart-button" id="button2">Add to cart</button>
            </div>
        </div>
    {% else %}
        <p>{{ Error }}</p>
    {% endif %}
{% endblock %}

