{% set releaseQuery = craft.app.request.getParam('releaseYear') %}
{% set productionQuery = craft.app.request.getParam('productionCompany') %}

{% set relationParam = ['and'] %}

{% if releaseQuery %}
    {% set relationParam = relationParam|merge([{ targetElement: releaseQuery }]) %}
{% endif %}
{% if productionQuery %}
    {% set relationParam = relationParam|merge([{ targetElement: productionQuery }]) %}
{% endif %}

{% set entries = craft.entries.section('product') %}

{% if relationParam|length > 1 %}
    {% set entries = entries.relatedTo(relationParam) %}
{% endif %}

{% paginate entries.limit(6) as pageInfo, pageEntries %}


<section>
    <div class="page-container">
        <div class="filter-container">
            <form method="get">
                {% for releaseYear in craft.entries.section('releaseYears') %}
                    <div class="filterItem">
                        <input class="filter-checkbox" type="checkbox" id="{{ releaseYear.id }}" value="{{ releaseYear.id }}" name="releaseYear[]" {% if releaseQuery and releaseYear.id in releaseQuery %} checked {% endif %}>
                        <label class="filter-text" for="{{ releaseYear.id }}">{{ releaseYear.title }}</label>
                    </div>
                {% endfor %}
                {% for productionCompany in craft.entries.section('productionCompany') %}
                    <div class="filterItem">
                        <input type="checkbox" id="{{ productionCompany.id }}" value="{{ productionCompany.id }}" name="productionCompany[]" {% if productionQuery and productionCompany.id in productionQuery %} checked {% endif %}>
                        <label for="{{ productionCompany.id }}">{{ productionCompany.title }}</label>
                    </div>
                {% endfor %}
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="product-container">
            {% if pageEntries | length %}
                <ul class="product-lijst">
                    {% for product in pageEntries %}
                        {% set image = product.productImage.one() %}
                        <li class="product-info">
                            <a href="{{ url('products/' ~ product.slug) }}">
                                <img src="{{ image.url }}" alt="{{ product.title }}" class="product-image">
                                <div class="product-details">
                                    <h1 class="product-title">{{ product.title }}</h1>
                                    <p class="stock">{{ product.productStock }}</p>
                                    <p class="price">€ {{ product.productPrice }}</p>
                                    <button class="add-to-cart-button">Add to cart</button>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="pagination">
                    {% for i in 1..pageInfo.totalPages %}
                        <button onclick="location.href='{{ pageInfo.getPageUrl(i) }}'" class="page-numbers{% if pageInfo.currentPage == i %} active{% endif %}">
                            {{ i }}
                        </button>
                    {% endfor %}
                </div>
            {% else %}
                <p>No products available.</p>
            {% endif %}
        </div>
    </div>
</section>


