{% paginate craft.entries.section('product').limit(6) as pageInfo, pageEntries %}
{% set releaseYears = craft.entries.section('releaseYears').collect() %}


{% set relationParam = ['and']%}
{% set releaseQuery = craft.app.request.getParam('releaseYear') %}

{% if releaseQuery %}
    {% set relationParam = relationParam|merge([{ targetElement: releaseQuery }]) %}
{% endif %}

{# {% if relationParam|length > 1 %}
    {% set entries = entries.relatedTo(relationParam) %}
{% endif %} #}
<section>
    <div class="page-container">
    <div class="filter-container">
        <form>
        {% for releaseYear in releaseYears %}
            
            <input type="checkbox" id="{{releaseYear.id}}" value="{{releaseYear.id}}" name="releaseYear[]" {% if releaseYear.id in releaseQuery %} checked {% endif %}>
             {% endfor %}
             <button>Submit</button>

       
        </form>
    </div>
    <div class="product-container">
    <div>
        <ul class="product-lijst">
            {% for product in pageEntries %}
                {% set image = product.productImage.one() %}
                <li class="product-info">
                    <img src="{{ image.url }}" alt="{{ product.title }}" class="product-image">
                    <div class="product-details">
                        <h1>{{ product.title }}</h1>
                        <p class="stock">{{ product.productStock }}</p>
                        <button class="add-to-cart-button">Add to cart</button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pagination">
        {% for i in 1..pageInfo.totalPages %}
            <button onclick="location.href='{{ pageInfo.getPageUrl(i) }}'" class="page-numbers{% if pageInfo.currentPage == i %} active{% endif %}">
                {{ i }}
            </button>
        {% endfor %}
    </div>

    </div></div>
</section>
